@font-face {
  font-family: "Lexend";
  src: url("./fonts/Lexend-Regular.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lexend";
  src: url(./fonts/Lexend-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lexend";
  src: url("./fonts/Lexend-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Futura PT font is commercial
   I found a similar font from free Google Fonts
*/
@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Styles normalization begin*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

:where(ul, ol):where([class]) {
  padding-left: 0;
}

body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

:where(ul[class]) {
  list-style: none;
}

p {
  --paragraphMarginBottom: 24px;

  margin-block: 0;
}

p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

img {
  display: block;
  max-width: 100%;
}

input,
textarea,
select,
button {
  font: inherit;
}

html {
  height: 100%;
}

html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  line-height: 1.5;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*Styles normalization end*/

:root {
  --color-dark: #110a1d;
  --color-light: #fff;
  --color-blue: #478bf9;
  --color-light-blue: #9dadf2;
  --color-dark-blue: #1e1231;

  --border-radius: 24px;

  --font-family-base: "Lexend", sans-serif;
  --font-family-date: "Montserrat", sans-serif;

  --container-width: 1640px;

  --transition-duration: 0.2s;
}

body {
  font-family: var(--font-family-base);
  background-color: var(--color-dark);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  min-height: 112px;
  padding: 25px;
}

.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  column-gap: 20px;
  width: 100%;
  max-width: var(--container-width);
  min-width: 300px;
  height: 96px;
  border: 4px solid var(--color-blue);
  border-radius: 64px;
}

.header-empty {
  width: 287px;
  height: 32px;
}

.header-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 36px;
}

.header-menu-list {
  display: flex;
  column-gap: 32px;
}

.header-menu-link {
  font-size: 16px;
  color: var(--color-light);
  text-decoration: none;
}

.header-actions {
  display: flex;
  align-items: center;
  column-gap: 14px;
  width: auto;
  height: 48px;
}

.button {
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  text-align: center;
  color: var(--color-light);
  white-space: nowrap;
  background-color: transparent;
  border: 2px solid var(--color-light-blue);
  border-radius: 24px;
  padding: 14px;
}

.language-button,
.login-button,
.sign-up-button {
  height: 100%;
}

.mobile-header {
  display: none;
  justify-content: center;
  align-items: center;
  column-gap: 4px;
  height: 36px;
}

.mobile-language-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  padding: 0;
}

.mobile-burger-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 4px;
  width: 36px;
  height: 36px;
  background-color: transparent;
  border: none;
  padding: 0;
}

.mobile-cross-icon {
  display: none;
  width: 16px;
  height: 16px;
  background-image: url("./images/cross-icon.svg");
  background-size: contain;
}

.burger-line {
  width: 20px;
  height: 2px;
  background-color: var(--color-light);
  border-radius: 1px;
}

.language-button .icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-image: url("./images/language-icon.svg");
  background-size: cover;
  margin-right: 9px;
}

.blue-button {
  background-color: var(--color-blue);
  border: none;
}

.mobile-header-menu {
  display: none;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding-top: 30px;
  padding-inline: 10px;
  margin-bottom: 92px;
}

.mobile-header-menu-list {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  width: 100%;
  margin-bottom: 30px;
}

.mobile-header-menu-item {
  border: 2px solid var(--color-blue);
  border-radius: 28px;
  padding: 13px 20px;
}

.mobile-header-menu-link {
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
  text-decoration: none;
  color: var(--color-light);
}

.mobile-menu-actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 5px;
}

.mobile-login-button,
.mobile-sign-up-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 24px;
  padding: 13px 120px;
}

.mobile-login-button {
  background-color: var(--color-dark-blue);
}

.menu-active {
  display: flex;
}

.main {
  display: flex;
  justify-content: center;
  flex: 1;
  min-height: 1024px;
  overflow: hidden;
}

.left-light {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.right-light {
  position: absolute;
  right: -350px;
  bottom: -300px;
  z-index: -1;
}

.main-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: var(--container-width);
}

.hero-banner {
  margin-top: 296px;
  width: 670px;
  z-index: 3;
}

.hero-banner-header {
  margin-bottom: 24px;
}

.hero-banner-head {
  font-size: 96px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 96px;
}

.blue-text {
  color: var(--color-blue);
}

.hero-banner-subheader {
  font-size: 32px;
  font-weight: 500;
  color: var(--color-light);
  opacity: 60%;
  line-height: 32px;
  margin-bottom: 48px;
}

.hero-banner-partner-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border-radius: 48px;
  padding: 20px 72px;
}

.partner-button-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 24px;
  font-weight: 600;
  color: var(--color-light);
  line-height: 32px;
  text-decoration: none;
  text-transform: uppercase;
}

.chips-container {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 16px;
  max-width: 330px;
  height: 100%;
}

.chips-line-first,
.chips-line-second,
.chips-line-third {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.chips-line-first {
  margin-top: -40px;
}

.chips-line-second {
  margin-top: 10px;
}

.chips-line-third {
  margin-top: -50px;
}

.chip-slider {
  position: relative;
  width: 100px;
  height: 220px;
  background-image: url("./images/chips/borger.svg");
  background-size: contain;
}

.white-border {
  background-image: url("./images/chips/border-light.svg");
}

.chip-slider .chip-image {
  position: absolute;
  width: 100px;
  height: 100px;
}

.down-moving {
  animation-name: chips-down-moving;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.up-moving {
  animation-name: chips-up-moving;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.blog {
  margin-top: 140px;
  margin-bottom: 230px;
  z-index: 3;
}

.blog-header {
  margin-bottom: 24px;
}

.blog-head {
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  line-height: 40px;
}

.blog-wrapper {
  max-width: 530px;
  min-width: 300px;
  height: auto;
  min-height: 420px;
  max-height: 595px;
  border: 3px solid var(--color-blue);
  border-radius: 100px;
  background-color: rgba(255 255 255 / 12%);
  overflow: hidden;
  padding-right: 16px;
  padding-left: 24px;
}

.blog-container {
  width: 100%;
  min-height: 420px;
  max-height: 595px;
  min-width: 275px;
  overflow: auto;
  padding-block: 24px;
  padding-right: 16px;
}

/* This custom scrollbar does not work in Mozilla at least */
.blog-container::-webkit-scrollbar {
  width: 8px;
}

.blog-container::-webkit-scrollbar-track {
  background-color: rgba(255 255 255 / 12%);
  border-radius: 10px;
  margin-block: 95px;
}

.blog-container::-webkit-scrollbar-thumb {
  background-color: var(--color-blue);
  border-radius: 10px;
}

.blog-post-card {
  width: 100%;
  padding-block: 16px;
  padding-inline: 64px;
  background-color: var(--color-dark-blue);
  border-radius: 196px;
  margin-bottom: 16px;
}

.blog-post-title {
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
  margin-bottom: 16px;
}

.blog-post-date {
  font-family: var(--font-family-date);
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  opacity: 60%;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  min-width: 320px;
  height: 130px;
  background-color: transparent;
  border: 4px solid var(--color-blue);
  border-bottom: none;
  border-top-left-radius: 64px;
  border-top-right-radius: 64px;
  padding-top: 40px;
  padding-bottom: 24px;
  padding-inline: 140px;
}

.footer-navigation-menu {
  display: flex;
  column-gap: 40px;
}

.footer-navigation-link {
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  color: var(--color-light);
  text-decoration: none;
  white-space: nowrap;
}

.is-active-footer-link {
  text-decoration: underline;
  color: var(--color-blue);
}

.social-media {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  height: 100%;
}

.social-media p {
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 14px 0;
}

.social-media-list {
  display: flex;
  justify-content: space-between;
  column-gap: 8px;
  max-height: 32px;
}

.social-media-link {
  display: block;
  width: 32px;
  height: 32px;
}

.social-media-icon {
  width: 32px;
  height: 32px;
}

.social-media-icon .main-fill {
  fill: var(--color-blue);
}

@keyframes chips-down-moving {
  0% {
    top: 0;
    rotate: 0;
  }

  50% {
    top: calc(100% - 100px);
    rotate: 180deg;
  }

  100% {
    top: 0;
    rotate: 360deg;
  }
}

@keyframes chips-up-moving {
  0% {
    bottom: 0;
    rotate: 0;
  }

  50% {
    bottom: calc(100% - 100px);
    rotate: 360deg;
  }

  100% {
    bottom: 0;
    rotate: 0;
  }
}

@media (hover: hover) {
  .header-menu-link:hover {
    color: var(--color-blue);
  }

  .language-button:hover,
  .login-button:hover {
    color: var(--color-light-blue);
  }

  .sign-up-button:hover {
    color: var(--color-dark-blue);
    background-color: var(--color-light-blue);
  }

  .hero-banner-partner-button:hover {
    color: var(--color-dark-blue);
    background-color: var(--color-light-blue);
  }

  .partner-button-text:hover {
    color: var(--color-dark-blue);
  }

  .blog-container::-webkit-scrollbar-thumb:hover {
    background: var(--color-light-blue);
  }

  .blog-post-card:hover {
    background-color: var(--color-blue);
    transition-duration: var(--transition-duration);
    cursor: pointer;
  }

  .footer-navigation-link:hover {
    color: var(--color-blue);
  }

  .social-media-icon:hover .main-fill {
    fill: url(#gradient);
  }
}

@media (max-width: 1690px) {
  .header-menu-list {
    column-gap: 16px;
  }

  .header-empty {
    display: none;
  }

  .main-container {
    flex-direction: column;
    align-items: center;
  }

  .hero-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
  }

  .hero-banner-head {
    text-align: center;
    white-space: normal;
  }

  .hero-banner-subheader {
    text-align: center;
    margin-bottom: 24px;
  }

  .hero-banner-partner-button {
    padding: 15px 55px;
  }

  .chips-container {
    display: flex;
    align-items: center;
    rotate: 90deg;
    height: 500px;
  }

  .blog {
    margin-top: 0;
  }

  .footer {
    padding-inline: 30px;
  }
}

@media (max-width: 1024px) {
  .header {
    padding-top: 20px;
  }

  .header-container {
    height: auto;
    justify-content: flex-end;
    padding: 10px 14px;
    border-width: 2px;
  }

  .header-menu,
  .header-actions {
    display: none;
  }

  .mobile-header {
    display: flex;
  }

  .footer {
    padding: 20px 20px 30px;
  }

  .footer-navigation-menu {
    flex-wrap: wrap;
    column-gap: 30px;
  }
}

@media (max-width: 768px) {
  .header {
    padding-top: 10px;
    padding-inline: 10px;
    min-height: auto;
  }

  .hero-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    width: 300px;
  }

  .hero-banner-header {
    margin-bottom: 12px;
  }

  .hero-banner-head {
    font-size: 46px;
    line-height: 50px;
    text-align: center;
  }

  .hero-banner-subheader {
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    margin-bottom: 24px;
  }

  .partner-button-text {
    font-size: 18px;
  }

  .chips-container {
    column-gap: 8px;
    height: 230px;
  }

  .chips-line-first,
  .chips-line-second,
  .chips-line-third {
    row-gap: 10px;
  }

  .chip-image,
  .chip-slider .chip-image {
    width: 50px;
    height: 50px;
    rotate: 270deg;
  }

  .chip-slider {
    width: 50px;
    height: 110px;
  }

  .blog {
    margin-inline: 10px;
    margin-bottom: 130px;
  }

  .blog-wrapper {
    border-width: 3px;
    border-radius: 50px;
  }

  .blog-head {
    font-size: 32px;
  }

  .blog-post-card {
    border-radius: 40px;
    margin-bottom: 10px;
    padding: 15px 35px;
  }

  .blog-post-title {
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 6px;
  }

  .blog-wrapper {
    max-height: 420px;
    padding-right: 6px;
    padding-left: 10px;
  }

  .blog-container {
    max-height: 420px;
    padding-block: 10px;
    padding-right: 6px;
  }

  .blog-container::-webkit-scrollbar {
    width: 4px;
  }

  .social-media-link,
  .social-media-icon {
    width: 27px;
    height: 27px;
  }

  @keyframes chips-down-moving {
    0% {
      top: 0;
    }

    50% {
      top: calc(100% - 50px);
    }

    100% {
      top: 0;
    }
  }

  .footer {
    height: auto;
    align-items: flex-start;
    flex-direction: column;
  }

  .footer-navigation-menu {
    flex-direction: column;
    margin-bottom: 20px;
  }

  .social-media {
    align-items: flex-start;
  }

  @keyframes chips-up-moving {
    0% {
      bottom: 0;
      rotate: 0;
    }

    50% {
      bottom: calc(100% - 50px);
      rotate: -90deg;
    }

    100% {
      bottom: 0;
      rotate: 0;
    }
  }
}
